doctype 5
html
  head
    title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800')
    link(rel='stylesheet', href='/css/yield.css')
  body
    header
    block content
    footer
      .container
        hr
        small Yield - v#{version}